# Jekyll Build-Output (wird von GitHub Pages automatisch serverseitig generiert)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
vendor/
Gemfile.lock

# OS-Müll
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~
